{% extends "base.html" %}

{% block script %}
    <style>
        /* Hide spinner normally */
        #loading-spinner {
            display: none;
        }
        /* Show when the form is making an HTMX request */
        form.htmx-request #loading-spinner {
            display: inline-block;
        }
    </style>
{% endblock script %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-12">
                <h2>Load Transaction</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="transaction-status">
                    {% include "account/partials/transaction_status.html" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form id="transaction-update-form" 
                    hx-post="{% url 'home_view' %}" 
                    hx-target="#transaction-status"
                    hx-swap="innerHTML">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Load</button>

                    <div id="loading-spinner" class="ms-2">
                        <div class="spinner-grow text-primary" role="status" style="width: 1.5rem; height: 1.5rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p>Please <a href='{% url "login" %}'>Login</a> to access Trackalytics</p>
        </div>
    </div>
    {% endif %}
{% endblock %}
